In [1]:
import pandas as pd
import sqlite3
con = sqlite3.connect("MCU.db")

In [2]:
#use a database cursor
cur = con.cursor()

In [3]:
#we can now create a databse table
cur.execute("CREATE TABLE MCU_Movies(movie_id, title, year, score)")

OperationalError: table MCU_Movies already exists

In [4]:
#confirm the database has been created
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('MCU_Movies',)

In [5]:
cur.execute("""
    INSERT INTO MCU_Movies VALUES
            (1001, 'Iron Man', 2008, 7.9),
    (1002, 'The Incredible Hulk', 2008, 6.7),
    (1003, 'Iron Man 2', 2010, 7.0),
    (1004, 'Thor', 2011, 7.0),
    (1005, 'Captain America: The First Avenger', 2011, 6.9),
    (1006, 'The Avengers', 2012, 8.0),
    (1007, 'Iron Man 3', 2013, 7.2),
    (1008, 'Thor: The Dark World', 2013, 6.9),
    (1009, 'Captain America: The Winter Soldier', 2014, 7.7),
    (1010, 'Guardians of the Galaxy', 2014, 8.0),
    (1011, 'Avengers: Age of Ultron', 2015, 7.3),
    (1012, 'Ant-Man', 2015, 7.3),
    (1013, 'Captain America: Civil War', 2016, 7.8),
    (1014, 'Doctor Strange', 2016, 7.5),
    (1015, 'Guardians of the Galaxy Vol. 2', 2017, 7.6),
    (1016, 'Spider-Man: Homecoming', 2017, 7.4),
    (1017, 'Thor: Ragnarok', 2017, 7.9),
    (1018, 'Black Panther', 2018, 7.3),
    (1019, 'Avengers: Infinity War', 2018, 8.4),
    (1020, 'Ant-Man and The Wasp', 2018, 7.1),
    (1021, 'Captain Marvel', 2019, 6.9),
    (1022, 'Avengers: Endgame', 2019, 8.4)

""")

In [6]:
#verify the data was inserted
res = cur.execute("SELECT score FROM MCU_Movies")
res.fetchall()

[(7.9,),
 (6.7,),
 (7.0,),
 (7.0,),
 (6.9,),
 (8.0,),
 (7.2,),
 (6.9,),
 (7.7,),
 (8.0,),
 (7.3,),
 (7.3,),
 (7.8,),
 (7.5,),
 (7.6,),
 (7.4,),
 (7.9,),
 (7.3,),
 (8.4,),
 (7.1,),
 (6.9,),
 (8.4,),
 (7.9,),
 (6.7,),
 (7.0,),
 (7.0,),
 (6.9,),
 (8.0,),
 (7.2,),
 (6.9,),
 (7.7,),
 (8.0,),
 (7.3,),
 (7.3,),
 (7.8,),
 (7.5,),
 (7.6,),
 (7.4,),
 (7.9,),
 (7.3,),
 (8.4,),
 (7.1,),
 (6.9,),
 (8.4,)]

In [7]:
res = cur.execute("SELECT title FROM MCU_Movies ORDER BY year")
res.fetchall()

[('Iron Man',),
 ('The Incredible Hulk',),
 ('Iron Man',),
 ('The Incredible Hulk',),
 ('Iron Man 2',),
 ('Iron Man 2',),
 ('Thor',),
 ('Captain America: The First Avenger',),
 ('Thor',),
 ('Captain America: The First Avenger',),
 ('The Avengers',),
 ('The Avengers',),
 ('Iron Man 3',),
 ('Thor: The Dark World',),
 ('Iron Man 3',),
 ('Thor: The Dark World',),
 ('Captain America: The Winter Soldier',),
 ('Guardians of the Galaxy',),
 ('Captain America: The Winter Soldier',),
 ('Guardians of the Galaxy',),
 ('Avengers: Age of Ultron',),
 ('Ant-Man',),
 ('Avengers: Age of Ultron',),
 ('Ant-Man',),
 ('Captain America: Civil War',),
 ('Doctor Strange',),
 ('Captain America: Civil War',),
 ('Doctor Strange',),
 ('Guardians of the Galaxy Vol. 2',),
 ('Spider-Man: Homecoming',),
 ('Thor: Ragnarok',),
 ('Guardians of the Galaxy Vol. 2',),
 ('Spider-Man: Homecoming',),
 ('Thor: Ragnarok',),
 ('Black Panther',),
 ('Avengers: Infinity War',),
 ('Ant-Man and The Wasp',),
 ('Black Panther',),
 ('Avengers: Infinity War',),
 ('Ant-Man and The Wasp',),
 ('Captain Marvel',),
 ('Avengers: Endgame',),
 ('Captain Marvel',),
 ('Avengers: Endgame',)]

In [8]:
res = cur.execute("SELECT * FROM MCU_Movies ORDER BY score DESC")
df  = pd.DataFrame(res.fetchall(), columns=['movie_id', 'title', 'year', 'score'])

In [9]:
df

    movie_id                                title  year  score
0       1019               Avengers: Infinity War  2018    8.4
1       1022                    Avengers: Endgame  2019    8.4
2       1019               Avengers: Infinity War  2018    8.4
3       1022                    Avengers: Endgame  2019    8.4
4       1006                         The Avengers  2012    8.0
5       1010              Guardians of the Galaxy  2014    8.0
6       1006                         The Avengers  2012    8.0
7       1010              Guardians of the Galaxy  2014    8.0
8       1001                             Iron Man  2008    7.9
9       1017                       Thor: Ragnarok  2017    7.9
10      1001                             Iron Man  2008    7.9
11      1017                       Thor: Ragnarok  2017    7.9
12      1013           Captain America: Civil War  2016    7.8
13      1013           Captain America: Civil War  2016    7.8
14      1009  Captain America: The Winter Soldier  2014    7.7
15      1009  Captain America: The Winter Soldier  2014    7.7
16      1015       Guardians of the Galaxy Vol. 2  2017    7.6
17      1015       Guardians of the Galaxy Vol. 2  2017    7.6
18      1014                       Doctor Strange  2016    7.5
19      1014                       Doctor Strange  2016    7.5
20      1016               Spider-Man: Homecoming  2017    7.4
21      1016               Spider-Man: Homecoming  2017    7.4
22      1011              Avengers: Age of Ultron  2015    7.3
23      1012                              Ant-Man  2015    7.3
24      1018                        Black Panther  2018    7.3
25      1011              Avengers: Age of Ultron  2015    7.3
26      1012                              Ant-Man  2015    7.3
27      1018                        Black Panther  2018    7.3
28      1007                           Iron Man 3  2013    7.2
29      1007                           Iron Man 3  2013    7.2
30      1020                 Ant-Man and The Wasp  2018    7.1
31      1020                 Ant-Man and The Wasp  2018    7.1
32      1003                           Iron Man 2  2010    7.0
33      1004                                 Thor  2011    7.0
34      1003                           Iron Man 2  2010    7.0
35      1004                                 Thor  2011    7.0
36      1005   Captain America: The First Avenger  2011    6.9
37      1008                 Thor: The Dark World  2013    6.9
38      1021                       Captain Marvel  2019    6.9
39      1005   Captain America: The First Avenger  2011    6.9
40      1008                 Thor: The Dark World  2013    6.9
41      1021                       Captain Marvel  2019    6.9
42      1002                  The Incredible Hulk  2008    6.7
43      1002                  The Incredible Hulk  2008    6.7

In [10]:
#use a database cursor
cur = con.cursor()

In [11]:
#we can now create a databse table called MCU_ACTORS
cur.execute("CREATE TABLE MCU_Actors(actors_id, actors_name,movie_id)")

OperationalError: table MCU_Actors already exists

In [12]:
#confirm the database has been created
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchall()

[('MCU_Movies',), ('MCU_Actors',)]

In [13]:
actor_data = [
 (1, 'Robert Downey Jr.', 1001),
 (2, 'Chris Evans', 1005),
 (3, 'Mark Ruffalo', 1006),
 (4, 'Chris Hemsworth', 1004),
 (5, 'Scarlett Johansson', 1006),
 (6, 'Jeremy Renner', 1006),
 (7, 'Tom Hiddleston', 1004),
 (8, 'Clark Gregg', 1001),
 (9, 'Paul Rudd', 1012),
 (10, 'Benedict Cumberbatch', 1014)
]
# Insert actor data into the MCU_Actors table
cur.executemany("INSERT OR IGNORE INTO MCU_Actors VALUES(?,?,?)", actor_data)
con.commit()

In [14]:
res = cur.execute("SELECT * FROM MCU_Actors ORDER BY movie_id ASC")
df_act  = pd.DataFrame(res.fetchall(), columns=['actors_id', 'actors_name','movie_id'])

In [15]:
df_act

    actors_id           actors_name  movie_id
0           1     Robert Downey Jr.      1001
1           8           Clark Gregg      1001
2           1     Robert Downey Jr.      1001
3           8           Clark Gregg      1001
4           4       Chris Hemsworth      1004
5           7        Tom Hiddleston      1004
6           4       Chris Hemsworth      1004
7           7        Tom Hiddleston      1004
8           2           Chris Evans      1005
9           2           Chris Evans      1005
10          3          Mark Ruffalo      1006
11          5    Scarlett Johansson      1006
12          6         Jeremy Renner      1006
13          3          Mark Ruffalo      1006
14          5    Scarlett Johansson      1006
15          6         Jeremy Renner      1006
16          9             Paul Rudd      1012
17          9             Paul Rudd      1012
18         10  Benedict Cumberbatch      1014
19         10  Benedict Cumberbatch      1014

In [33]:
res = cur.execute("SELECT MCU_Movies.movie_id,MCU_Movies.title,MCU_Movies.year,MCU_Movies.score,MCU_Actors.actors_name FROM MCU_Movies JOIN MCU_Actors ON MCU_Movies.Movie_id = MCU_Actors.Movie_id")
result = pd.DataFrame(res.fetchall(), columns=['Movie_Id', 'Movie_Id','Year','Score','Actor_Name'])

In [34]:
result

,Movie_Id,Movie_Id,Year,Score,Actor_Name
0,1001,Iron Man,2008,7.9,Clark Gregg
1,1001,Iron Man,2008,7.9,Clark Gregg
2,1001,Iron Man,2008,7.9,Robert Downey Jr.
3,1001,Iron Man,2008,7.9,Robert Downey Jr.
4,1004,Thor,2011,7.0,Chris Hemsworth
5,1004,Thor,2011,7.0,Chris Hemsworth
6,1004,Thor,2011,7.0,Tom Hiddleston
7,1004,Thor,2011,7.0,Tom Hiddleston
8,1005,Captain America: The First Avenger,2011,6.9,Chris Evans
9,1005,Captain America: The First Avenger,2011,6.9,Chris Evans
10,1006,The Avengers,2012,8.0,Jeremy Renner
11,1006,The Avengers,2012,8.0,Jeremy Renner
12,1006,The Avengers,2012,8.0,Mark Ruffalo
13,1006,The Avengers,2012,8.0,Mark Ruffalo
14,1006,The Avengers,2012,8.0,Scarlett Johansson
15,1006,The Avengers,2012,8.0,Scarlett Johansson
16,1012,Ant-Man,2015,7.3,Paul Rudd
17,1012,Ant-Man,2015,7.3,Paul Rudd
18,1014,Doctor Strange,2016,7.5,Benedict Cumberbatch
19,1014,Doctor Strange,2016,7.5,Benedict Cumberbatch
20,1001,Iron Man,2008,7.9,Clark Gregg
21,1001,Iron Man,2008,7.9,Clark Gregg
22,1001,Iron Man,2008,7.9,Robert Downey Jr.
23,1001,Iron Man,2008,7.9,Robert Downey Jr.
24,1004,Thor,2011,7.0,Chris Hemsworth
25,1004,Thor,2011,7.0,Chris Hemsworth
26,1004,Thor,2011,7.0,Tom Hiddleston
27,1004,Thor,2011,7.0,Tom Hiddleston
28,1005,Captain America: The First Avenger,2011,6.9,Chris Evans
29,1005,Captain America: The First Avenger,2011,6.9,Chris Evans
30,1006,The Avengers,2012,8.0,Jeremy Renner
31,1006,The Avengers,2012,8.0,Jeremy Renner
32,1006,The Avengers,2012,8.0,Mark Ruffalo
33,1006,The Avengers,2012,8.0,Mark Ruffalo
34,1006,The Avengers,2012,8.0,Scarlett Johansson
35,1006,The Avengers,2012,8.0,Scarlett Johansson
36,1012,Ant-Man,2015,7.3,Paul Rudd
37,1012,Ant-Man,2015,7.3,Paul Rudd
38,1014,Doctor Strange,2016,7.5,Benedict Cumberbatch
39,1014,Doctor Strange,2016,7.5,Benedict Cumberbatch